body {
  font-family: 'Times New Roman';
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  padding: 10px;
  background-color: black;
  color: white;
}

h2 {
  padding: 5px;
}

iframe {
  margin-top: 10px;
  margin-bottom: 10px;
}

#arcade-game {
  background-image: linear-gradient(#ffddbb, #ffffbb);
}

#editortrees {
  background-color: #ffddbb
}

#xv6-threads {
  background-color: #ffffbb
}

#guitar-hero {
  background-color: #bbffbb
}

section {
  margin-top: -10px;
  margin-bottom: -10px;
}