:root {
  --pastel-red: #ffbbbb;
  --pastel-red-orange: #ffccbb;
  --pastel-orange: #ffddbb;
  --pastel-yellow: #ffffbb;
  --pastel-green: #bbffbb;
  --link-default: #2f00ff;
  --link-visited: #1c0098;
  --link-hovering: #8266ff;
  --link-activated: #ff2222;
  --link-focus: #ff8800;
}

body {
  font-family: 'Times New Roman';
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  padding: 10px 10px 40px 10px;
  margin-bottom: -10px;
  background-image: linear-gradient(black, black, black, black, white);
  color: white;
}

h2 {
  padding: 0px 5px 5px 5px;
  text-decoration: underline;
}

h3, p {
  padding-left: 5px;
  padding-bottom: 10px;
}

a:link {
  color: var(--link-default);
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  color: var(--link-hovering);
}

a:active {
  color: var(--link-activated);
}

a:focus {
  color: var(--link-focus);
}

iframe {
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-red {
  /* https://www.w3schools.com/css/css3_gradients.asp - This interesting CSS was not inspired by any particular webpage, but when
  I looked at mine I thought it would look cool if the background colors faded into each other */
  background-image: linear-gradient(white, var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red), var(--pastel-red-orange), var(--pastel-orange));
}

.color-orange {
  background-image: linear-gradient(var(--pastel-orange), var(--pastel-orange), var(--pastel-orange), var(--pastel-orange), var(--pastel-orange), var(--pastel-orange), var(--pastel-orange), var(--pastel-orange), var(--pastel-orange), var(--pastel-orange), var(--pastel-orange), var(--pastel-yellow));
}

.color-yellow {
  background-image: linear-gradient(var(--pastel-yellow), var(--pastel-yellow), var(--pastel-yellow), var(--pastel-yellow), var(--pastel-yellow), var(--pastel-yellow), var(--pastel-yellow), var(--pastel-yellow), var(--pastel-yellow), var(--pastel-yellow), var(--pastel-yellow), var(--pastel-green));
}

.color-yellow-at-end {
  background-color: var(--pastel-yellow);
}

.color-green {
  background-color: var(--pastel-green);
}

section {
  padding: 10px 10px 20px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}