:root {
  --pastel-red: #ffbbbb;
  --pastel-orange: #ffddbb;
  --pastel-yellow: #ffffbb;
  --pastel-green: #bbffbb;
}

body {
  font-family: 'Times New Roman';
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  padding: 10px;
  background-color: black;
  color: white;
}

h2 {
  padding: 5px;
}

iframe {
  margin-top: 10px;
  margin-bottom: 10px;
}

#arcade-game {
  background-image: linear-gradient(--pastel-red, --pastel-red, --pastel-red, --pastel-red, --pastel-red, --pastel-red, --pastel-red, --pastel-orange);
}

#editortrees {
  background-image: linear-gradient(--pastel-orange, --pastel-orange, --pastel-orange, --pastel-orange, --pastel-orange, --pastel-orange, --pastel-orange, --pastel-yellow);
}

#xv6-threads {
  background-image: linear-gradient(--pastel-yellow, --pastel-yellow, --pastel-yellow, --pastel-yellow, --pastel-yellow, --pastel-yellow, --pastel-yellow, --pastel-green);
}

#guitar-hero {
  background-color: --pastel-green;
}

section {
  padding: 10px;
  margin-top: -13px;
  margin-bottom: -13px;
}